.black{
    background: #000;
}
#textwhite{
    color: rgb(59, 11, 121);    
    font-size: 25px;
    padding-left: 5%;
    text-align: center;
    background: rgb(37, 37, 37);
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-weight: 900;
}
.form-control{
    margin-top: 2%;
}
.row{
padding-top: 5%;
padding-bottom: 5%;
}